{% extends "base.html" %}
{% block title %}Parolingizni qayta o'rnating{% endblock %}
{% block content %}
<h1>Parolingizni qayta o'rnating</h1>
{% if validlink %}
<p>Iltimos, yangi parolingizni ikki marta kiriting:</p>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Parolimni o'zgartiring"/></p>
</form>
{% else %}
<p>Parolni tiklash havolasi yaroqsiz, ehtimol u allaqachon ishlatilgan. Iltimos, yangi parolni tiklashni so'rang.</p>
{% endif %}
{% endblock %}